<div class="box">

  <mat-card>
    <mat-card-content>

      <form class="my-form" [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" placeholder="Task title">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" placeholder="Task description">
        </mat-form-field>

        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="addTaskForm.invalid">
          Add Task
        </button>

      </form>

    </mat-card-content>
  </mat-card>

</div>


<div class="tasks-container">

  <!-- TODO -->
  <div class="task-column">

    <h2>Todo</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >

      <div *ngFor="let task of todo" cdkDrag>
        <app-task
          [task]="task"
          list="todo"
          (delete)="deleteIt($event.list, $event.task)">
        </app-task>
      </div>

    </div>

  </div>


  <!-- IN PROGRESS -->
  <div class="task-column">

    <h2>In Progress</h2>

    <div
      cdkDropList
      [cdkDropListData]="inProgress"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >

      <div *ngFor="let task of inProgress" cdkDrag>
        <app-task
          [task]="task"
          list="inProgress"
          (delete)="deleteIt($event.list, $event.task)">
        </app-task>
      </div>

    </div>

  </div>


  <!-- DONE -->
  <div class="task-column">

    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >

      <div *ngFor="let task of done" cdkDrag>
        <app-task
          [task]="task"
          list="done"
          (delete)="deleteIt($event.list, $event.task)">
        </app-task>
      </div>

    </div>

  </div>

</div>