<!-- LOGIN / REGISTER PAGE -->
<div *ngIf="hideMenu()">
  <router-outlet></router-outlet>
</div>

<!-- MAIN APPLICATION -->
<mat-sidenav-container fullscreen *ngIf="!hideMenu()">

  <mat-sidenav #sidenav role="navigation" mode="over">
    <app-side-nav-list (sidenavClose)="sidenav.close()"></app-side-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="display: flex; flex-direction: column; height: 100%;">

    <app-header (sideNavToggle)="sidenav.toggle()"></app-header>

    <main style="flex: 1; overflow-y: auto;">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>